.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s {
  height: 120px;
  width: 120px;
  background-color: #fbbf24;
  margin: 10px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.m {
  height: 160px;
  width: 160px;
  background-color: #38bdf8;
  margin: 10px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.l {
  height: 200px;
  width: 200px;
  background-color: #ec4899;
  margin: 10px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 70px;
}

@media screen and (max-width: 567px) {
  .sub-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .s {
    height: 200px;
    width: 200px;
  }

  .m {
    height: 250px;
    width: 250px;
  }

  .l {
    height: 300px;
    width: 300px;
  }
}
